In [2]:
# How to turn python and numpy arrays into tables...
# using pandas


import ipywidgets as widgets
from IPython import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tabulate import tabulate


# sample data
df1 = pd.DataFrame(np.random.randn(8, 3))
df2 = pd.DataFrame(np.random.randn(8, 3))

# Convert table to ACSCII markdown repr...
print(tabulate(df1, tablefmt="pipe", headers="keys"))

|    |         0 |         1 |         2 |
|---:|----------:|----------:|----------:|
|  0 | -1.34436  | -0.393568 |  1.40062  |
|  1 | -0.66615  |  0.70062  | -0.443915 |
|  2 |  0.312308 |  0.200198 | -0.857731 |
|  3 |  1.41131  |  1.10671  |  1.0871   |
|  4 |  2.95029  | -0.459737 |  0.85061  |
|  5 |  1.83082  | -0.593972 |  1.22476  |
|  6 | -0.616649 | -0.573936 |  0.377518 |
|  7 |  0.9025   |  1.41929  | -1.82243  |

In [2]:
# Results from dual annealling

# oof, that's hot 
x = np.array([2.77953638, 1.43922527, 1.11429933, 1.77685259, 5.44766417])
x = np.vstack( ( x, np.array([2.77741604, 1.44219872, 1.11535155, 1.77471314, 5.44791252]) ) )
x = np.vstack( (x , np.array([3.19587308e+00, 6.61927150e-01, 1.88541235e+00, 1.96975215e-06,
             6.06967859e+00]) ))
x = np.vstack( (x , np.array([2.7781778 , 1.44113483, 1.11442007, 1.77540688, 5.44776668]) ))

In [3]:
real_k = np.array([2.77777778, 1.44444444, 1.11111111, 1.77777778, 5.44444444])


(x - real_k).shape

sup_err = np.max(np.abs(x - real_k), axis=1).reshape(-1,1)

In [7]:
# Add times 

t = np.array([
    '1 min 8s',
    '1 min 58s',
    '4 min 5s',
    '3min 50s'  
]).reshape(-1, 1)


dat = np.hstack( (x, sup_err, t) )


# headings 
hd = np.array([
    'k1',
    'k2',
    'k3',
    'k4',
    'k5',
    'Error (sup norm)',
    'Execution time'
])

df = pd.DataFrame(dat, columns=hd)


print(tabulate(df, tablefmt="pipe", headers="keys"))

|    |      k1 |       k2 |      k3 |          k4 |      k5 |   Error (sup norm) | Execution time   |
|---:|--------:|---------:|--------:|------------:|--------:|-------------------:|:-----------------|
|  0 | 2.77954 | 1.43923  | 1.1143  | 1.77685     | 5.44766 |         0.00521917 | 1 min 8s         |
|  1 | 2.77742 | 1.4422   | 1.11535 | 1.77471     | 5.44791 |         0.00424044 | 1 min 58s        |
|  2 | 3.19587 | 0.661927 | 1.88541 | 1.96975e-06 | 6.06968 |         1.77778    | 4 min 5s         |
|  3 | 2.77818 | 1.44113  | 1.11442 | 1.77541     | 5.44777 |         0.00332224 | 3min 50s         |

# Results for NLS

In [21]:
x1 = np.array([2.60710203, 6.54329898, 4.59483172, 0.35008292, 5.90575368])
x1 = np.vstack( (x1, np.array([ 8.73992488, 24.07668051,  7.08632296,  5.30663675,  0.0920452 
                              ])) )

x1 = np.flip(x1, 0)


sup_err = np.max(np.abs(x1 - real_k), axis=1).reshape(-1,1)


upper_bounds = np.array([
    50,
    10
]).reshape(-1,1)

t1 = np.array(['3m 1s',
      '1m 41s']).reshape(-1, 1)

dat_nls = np.hstack( (
    x1,
    sup_err,
    upper_bounds,
    t1
))

# headings 
hd_nls = np.array([
    'k1',
    'k2',
    'k3',
    'k4',
    'k5',
    'Error (sup norm)',
    'Upper bound',
    'Execution time'
])

df1 = pd.DataFrame(dat_nls, columns=hd_nls)

print(tabulate(df1, tablefmt="pipe", headers="keys"))

(2, 5)
(2, 1)
|    |      k1 |      k2 |      k3 |       k4 |        k5 |   Error (sup norm) |   Upper bound | Execution time   |
|---:|--------:|--------:|--------:|---------:|----------:|-------------------:|--------------:|:-----------------|
|  0 | 8.73992 | 24.0767 | 7.08632 | 5.30664  | 0.0920452 |           22.6322  |            50 | 3m 1s            |
|  1 | 2.6071  |  6.5433 | 4.59483 | 0.350083 | 5.90575   |            5.09885 |            10 | 1m 41s           |

In [20]:
df1

,k1,k2,k3,k4,k5,Error (sup norm),Upper bound,Execution time
0,8.73992488,24.07668051,7.08632296,5.30663675,0.0920452,22.632236069999998,50,3m 1s
1,2.60710203,6.54329898,4.59483172,0.35008292,5.90575368,5.0988545400000005,10,1m 41s

# Data for SDE notebook.

In [3]:
x3 = np.array([1.01936282, 0.01149192])
x3 = np.vstack( (x3, np.array([0.9986141 , 0.02276752])))
x3 = np.vstack( (x3, np.array([0.97693651, 0.10866725])))

# real values 
real_vals = np.array([1., 0.1])

errors = np.abs(x3 - real_vals)

In [6]:
t3 = [
    '5min 6s',
    '2min 42s',
    '2min 59s'
]

dat3 = np.hstack((
    x3,
    errors,
    np.array(t3).reshape(-1,1)
))

hd3 = [
    '$\mu$',
    '$\sigma$',
    'Error in $\mu$',
    'Error in $\sigma$',
    'Execution time'
]

df2 = pd.DataFrame(dat3, columns=hd3)

In [7]:
print(tabulate(df2, tablefmt="pipe", headers="keys"))

|    |    $\mu$ |   $\sigma$ |   Error in $\mu$ |   Error in $\sigma$ | Execution time   |
|---:|---------:|-----------:|-----------------:|--------------------:|:-----------------|
|  0 | 1.01936  |  0.0114919 |        0.0193628 |          0.0885081  | 5min 6s          |
|  1 | 0.998614 |  0.0227675 |        0.0013859 |          0.0772325  | 2min 42s         |
|  2 | 0.976937 |  0.108667  |        0.0230635 |          0.00866725 | 2min 59s         |